%section.navblock.subnav

  .subnav-block
    %h2 About GCC
    %ul.subnav-list
      %li=link_to "Mission Statement", "/gccmission.html"
      %li=link_to "Releases", "/releases.html"
      %li=link_to "Snapshots", "/snapshots.html"
      %li=link_to "Mailing lists", "/lists.html"
      %li=link_to "Contributors", "/onlinedocs/gcc/Contributors.html"
      %li=link_to "Steering Committee", "/steering.html"
    %ul.ext-links
      %li
        =link_to "gnutools", "https://twitter.com/gnutools", class: "ext-tweet"
        %span.label on Google+
      %li
        =link_to "gnutools", "https://plus.google.com/108467477471815191158", class: "ext-gplus"
        %span.label on Twitter

  .subnav-block
    %h2 Documentation
    %ul.subnav-list
      %li
        =link_to "Installation", "/install/"
        %ul
          %li=link_to "Platforms", "/install/specific.html"
          %li=link_to "Testing", "/install/test.html"
      %li=link_to "Manual", "/onlinedocs/"
      %li=link_to "FAQ", "/faq.html"
      %li=link_to "Wiki", "/wiki"
      %li=link_to "Further Readings", "/readings.html"

  .subnav-block
    %h2 Download
    %ul.subnav-list
      %li=link_to "Mirror sites", "/mirrors.html"
      %li=link_to "Binaries", "/install/binaries.html"

  .subnav-block
    %h2 "Live" Sources
    %ul.subnav-list
      %li=link_to "SVN read access", "/svn.html"
      %li=link_to "Git read access", "/wiki/GitMirror"
      %li=link_to "Rsync read access", "/rsync.html"
      %li=link_to "SVN write access", "/svnwrite.html"

  .subnav-block
    %h2 Development
    %ul.subnav-list
      %li
        =link_to "Development Plan", "/develop.html"
        %ul
          %li=link_to "Tentative&nbsp;Timeline", "/develop.html#timeline"
      %li=link_to "Contributing", "/contribute.html"
      %li=link_to "Why&nbsp;contribute?", "/contributewhy.html"
      %li=link_to "Open projects", "/projects/"
      %li=link_to "Front ends", "/frontends.html"
      %li=link_to "Back ends", "/backends.html"
      %li=link_to "Extensions", "/extensions.html"
      %li=link_to "Benchmarks", "/benchmarks/"
      %li=link_to "Build Robot", "/http://toolchain.lug-owl.de/buildbot/"
      %li=link_to "Translations", "/translation.html"

  .subnav-block
    %h2 Bugs
    %ul.subnav-list
      %li=link_to "Known bugs", "/bugs/#known"
      %li=link_to "How to report", "/bugs/"
      %li=link_to "Bug&nbsp;tracker", "/bugzilla/"
      %li=link_to "Management", "/bugs/management.html"
