!!!5
/[if lt IE 7]  <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us">
/[if IE 7]     <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us">
/[if IE 8]     <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if IE 9]     <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if lt IE 10] <html class="no-js lt-ie10" lang="en-us">
/[if !IE]>
%html.no-js(lang="en")
  / <![endif]

  %head

    %title
      - page_title = discover_title
      = "#{page_title} &mdash;" unless page_title.to_s.empty?
      = data.site.name

    %meta(charset="utf-8")
    %meta(name="description" content="#{data.site.description || ''}")

    - meta_author = author_name current_page.data.author || data.site.author || data.site.owner || ''

    %meta(name="author" content="#{meta_author}")
    %meta(content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport")

    = yield_content :head

    -# App Icons
    %link(rel="shortcut icon" href="/images/favicon.ico")
    %link(rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/apple-touch-icon-57x57-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png")

    = stylesheet_link_tag "application"
    = stylesheet_link_tag "print", media: "print"

    - if data.page.stylesheet
      = stylesheet_link_tag "global", data.page.stylesheet

  %body{:class => (current_page.data.page_classes || '') + " source-#{current_page.source_file.split('.').last}" }

    - unless data.page.hide_header
      = partial "header"


    %section#page-wrap

      %section#page

        %section#content.content{class: current_page.data.no_container.nil? ? 'container' : '' }

          -# Show a warning for those using < IE6 or lower
          /[if lt IE 7]
            <p class="chromeframe">You are using an outdated browser.
            <a href="http://browsehappy.com/">Upgrade your browser today</a> or
            <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>

          -# Render actual page content
          = yield

    - unless data.page.hide_footer
      = partial "footer"

    = javascript_include_tag 'application'

    = yield_content :tail


    - if build?

      - # Place JS in javascripts/production and it'll show up only for production
      -#= javascript_include_tag 'production'

      = partial "production_only"
