header.masthead
  text-align: center

  nav
    margin: 0 auto

body > footer
  padding: 1rem 1rem 2rem


.masthead
  $masthead-height: 7.25rem
  $masthead-padding: 2rem
  $nav-font-size: 1.75rem

  background: #f9a20d
  padding: $masthead-padding 0 ($masthead-padding - $nav-font-size)
  //margin-bottom: 3rem

  .hgroup
    @extend .container

    h1, nav
      padding: 0
      margin: 0
      vertical-align: middle
      display: inline-block

    h1
      float: left
      max-width: 100%
      text-align: center

      a
        display: inline
        background: red

      img
        height: $masthead-height - $nav-font-size
        width: auto
        display: block

    nav
      overflow: visible
      float: right

      li
        float: none
        display: inline-block

      a
        line-height: $masthead-height - 2
        padding: 0 $nav-font-size
        font-size: $nav-font-size

      @media screen and (max-width:991px)
        clear: both

        li
          display: inline

        a
          padding: 0
          line-height: 1


// Slants: Screen-only styling for nav & headers
@media screen

  // Commonality for slantboxes & slantstripes
  %slants
    position: relative
    clear: both
    display: inline-block
    font-style: italic
    font-weight: 600
    margin: 5rem 0 2rem

    &:first-child
      margin-top: 0

    &:before
      position: absolute
      content: ''
      z-index: -1
      transform: skewX(-12deg)

    &:after
      display: block
      content: ''
      clear: both

  // Style to extend for slanted boxes (as seen in the navigation)
  %slantbox
    @extend %slants
    $skewbox-pad-x: 2rem
    $skewbox-pad-y: 0.5rem

    color: #fff
    padding: $skewbox-pad-y 0

    &:before
      left: -$skewbox-pad-x
      right: -$skewbox-pad-x
      top: -$skewbox-pad-y
      bottom: -$skewbox-pad-y

  // Style to extend for trailing stripes (as seen in headers)
  %slantstripes
    @extend %slants
    $skewbox-pad-x: 1.5rem
    $skewbox-pad-y: 0.25rem

    color: #bbb
    padding: $skewbox-pad-y 0

    &:first-child
      margin-top: 0

    &:before
      position: absolute
      left: calc(100% + #{$skewbox-pad-x})
      width: 2.5em
      top: -$skewbox-pad-y
      bottom: -$skewbox-pad-y
      background: #eee url(/images/lines-white.svg) no-repeat 95% 0
      background-size: contain

  // Style to apply to slantstripes to make them variable in width
  %slantstripes-variable
    &:before
      width: calc(6em - 40%)
      min-width: 2em


  // Styled header in the content area
  .content
    h2:not(.no-decoration)
      @extend %slantstripes
      z-index: 99

    .row h2:not(.no-decoration)
      @extend %slantstripes-variable


  /* Navigation
  .masthead nav
    a
      @extend %slantbox
      z-index: 99
      margin-left: 2rem
      margin-right: 1.5rem

      &:before
        //background: rgba(white, 0.25)

      &:hover
        background: none

      &:hover:before
        background: rgba(white, 0.25)

    li.active a
      color: #f07b00 !important

    li.active a
      &:before
        background: rgba(white, 0.98)


footer.navblock
  @extend .container

.subnav
  @extend .row

  .subnav-block
    @extend .col-sm-4

    &:nth-child(4n+4)
      @media screen and (min-width:769px)
        clear: both

hr
  margin: 3em 0


.ext-links

  @at-root a[class^="ext-"]

    &:before
      @extend .fa
      margin-right: 0.75ex

    + .label
      display: none

  @at-root .ext-tweet:before
    @extend .fa-twitter

  @at-root .ext-gplus:before
    @extend .fa-google-plus


blockquote,
code
  font-size: inherit


footer.navblock
  @extend .hidden-print
  margin-top: 5em
  padding-top: 4rem
  padding-bottom: 1em
  width: 100%
  max-width: 100%
  background: mix(black, white, 85)
  color: mix(black, white, 25)

  h2
    margin: 0
    padding: 0 0 0.5em
    font-size: 1.5em

  ul
    padding: 0 0 0 2em
    margin: 0 0 2em

    ul
      margin-bottom: 0

    + ul
      margin-top: -1.5em

  a
    color: mix(black, white, 10)

  .subnav
    @extend .container

@media screen
  #footer
    padding: 2em 6em
    background: black
    color: white

  .last-modified
    margin-left: 2em
    display: inline

.original-page
  position: absolute
  top: 10rem
  right: 2rem
  color: #aaa
  opacity: 0.4

  &:before
    content: "("

  &:after
    content: ")"

  &:hover
    opacity: 1


.timeline
  padding-top: 1em

  @at-root .timeline-day
    clear: both
    margin: 0 0 1em
    overflow: hidden
    clear: both

    & + &.year-new
      margin-top: 3em

    @at-root
      .timeline-date
        float: left
        font-size: inherit
        margin: 0 0 0
        padding: 0
        color: #999
        width: 15ex
        text-align: right
        padding-right: 3ex

        .year-same
          visibility: hidden

        .year-new,
        .year-same
          color: #777
          float: left

      .timeline-day-content
        float: left
        width: calc(100% - 15ex)

        p
          margin: 0
          padding: 0

          + p
            padding-top: 1em

        h4
          font-size: inherit
          margin: 0 0 1ex
          padding: 0
          opacity: 0.5

          &:not(:first-child)
            margin-top: 1em

      .timeline-date,
      .timeline-day-content,
      .timeline-day-content h4
        line-height: 1.4
        margin: 0


.intro
  background: #f17f00 url(/images/intro-bg.svg) no-repeat 50% 100%
  background-size: cover
  width: 100%
  color: rgba(white, 0.9)
  font-size: 3.5rem // Fallback, for browsers that don't grok calc & vh
  font-size: calc(0.8rem + 2vh)
  padding: 3ex 1ex
  line-height: 1.4
  margin: 0 0 2em
  font-family: PT Sans, sans-serif

  a
    color: inherit
    font-weight: bold
    color: white
    text-decoration: none
    border-bottom: 3px dotted transparent
    transition: border-color 250ms

  p
    max-width: 50ex
    margin: 0 auto

  &:hover
    a
      border-color: rgba(white, 0.4)
      padding-bottom: 0
      &:hover
        border-color: white


.features
  //font-size: 1.75rem
  padding: 0 0 2em

  .row + .row
    margin-top: 4rem

  h2
    font-size: 2.8rem
    font-weight: 600
    font-style: italic
    color: #bbb
    text-align: right
    margin: 0 0.75ex 0 0
    line-height: inherit
    margin-top: -0.5em


#page-wrap
  $page-top-padding: 4rem // Should be in absolute units, like rems

  padding-top: $page-top-padding

  @at-root .intro
    margin-top: -$page-top-padding


code, kbd, pre, samp
  font: inherit
  font-family: Droid Sans, monospace


dl
  margin: 2ex

  dt
    padding-top: 1ex

  dd
    margin-left: 2ex

  dt + dd,
  dd + dd,
  dd + dt
    margin-top: 2ex


form
  @extend .form-inline

  select
    padding: 6px 12px
    font-size: 16px

    &[multiple]
      min-height: 10em

  input[type=text],
  textarea,
  select[multiple]
    @extend .form-control

  label
    font-weight: inherit

  input[type=submit]
    @extend .btn
    @extend .btn-primary

  .options
    //margin-top: 0

  .form-group + .form-group
    margin-top: 1ex

  &.search-advanced

    table
      @extend .table
      @extend .table-striped
      @extend .table-bordered

      select[multiple]
        width: 100%

    .form-group
      display: block

.frontpage
  .original-page
    color: rgba(white, 0.5)

    a
      color: white
