.search
  %form{:action => "http://gcc.gnu.org/cgi-bin/search.cgi", :method => "get"}

    .form-group.entry
      %input{:name => "q", :size => "30", :type => "text", :value => ""}/
      %input{:name => "cmd", :type => "hidden", :value => "Search"}/
      %input{:type => "submit", :value => "Search"}/

    .form-group.options
      %label
        Match:
      %select{:name => "m"}
        %option{:value => "all"} All words
        %option{:value => "any"} Any word
        %option{:value => "bool"} Boolean expression

      %label
        Sort by:
      %select{:name => "s"}
        %option{:value => "DRP"} Newest
        %option{:value => "RPD"} Best Match

    .form-group.help-block
      There is also a
      = succeed "." do
        %a{:href => "search.html"} detailed search form
