---
title: "GNU Compiler Collection"
pageable: true
no_container: true
page_classes: frontpage
---

- content_for :head do
  %link(href="/blog/feed.xml" rel="alternate" title="Atom feed" type="application/atom+xml")

- if defined? page_number && page_number < 2

  -# First-page only stuff here
  -# (If a blog is included below, then it may paginate)

  .intro
    .container
      .row
        %section.col-md-12

          :markdown
            GCC is a
            multi-language compiler,
            developed as a part of
            [the GNU Project][2],
            to further the goals of
            [software freedom][3].

            [2]: http://www.gnu.org/gnu/thegnuproject.html
            [3]: http://www.gnu.org/philosophy/free-sw.html

          -#:markdown
            The GNU Compiler Collection includes front ends for
            [C](c99status.html), [C++](projects/cxx0x.html), Objective-C,
            [Fortran](fortran/), [Java](java/), Ada, and Go, as well as
            libraries for these languages ([libstdc++](libstdc++/),
            libgcj,...). GCC was originally written as the compiler for the
            [GNU operating system][1]. The GNU system was developed to be
            100% free software, free in the sense that it [respects the
            user's freedom][2].

            We strive to provide regular, high quality
            [releases](releases.html), which we want to work well on
            a variety of native and cross targets (including GNU/Linux), and
            encourage everyone to [contribute](contribute.html) changes or
            help [testing](testing/) GCC. Our sources are readily and freely
            available via [SVN](svn.html) and weekly
            [snapshots](snapshots.html).

            Major decisions about GCC are made by the [steering
            committee](steering.html), guided by the [mission
            statement](gccmission.html).

            [1]: http://www.gnu.org/gnu/thegnuproject.html
            [2]: http://www.gnu.org/philosophy/free-sw.html

  .container

    .features
      .row
        %section.col-sm-4.col-md-2
          %h2.no-decoration Freedom

        %section.col-sm-8.col-md-10
          -# FIXME: Add links
          :markdown
            GCC is yours. You have the guarantee that it's always available. You can extend and improve it and others will benefit &mdash; and when other people contribute, you benefit as well.

      .row
        %section.col-sm-4.col-md-2
          %h2.no-decoration Power

        %section.col-sm-4.col-md-5
          -# FIXME: Back up these claims with stats, or replace them with something similar
          :markdown
            It's not just one of the most correct compilers. It's also one of the fastest. Check out the benchmarks.

        %section.col-sm-4.col-md-5
          :markdown
            There's great support for popular languages, too:

            C C++ Objective-C Fortran Java Ada Go

      .row
        %section.col-sm-4.col-md-2
          %h2.no-decoration Ubiquity

        %section.col-sm-8.col-md-10
          -# FIXME: claim is completely bogus, but it's here as an example
          :markdown
            Currently on 11 different operating systems and 42
            architectures, GCC supports nearly everything — it doesn't
            matter if it's the world's largest mainframe or the tiniest
            embedded device; GCC is there for you.


    %hr

    .row

      %section.col-md-6
        %h2#news Recent News

        .timeline= simplenews(limit: 10)

        =link_to "Older news", "/news.html"
        |
        Any additions?  Don't be shy, send them to gerald@pfeifer.com!

      %section.col-md-6
        :ruby
          def bugzilla_regressions milestones, priority = nil
            url = "
              https://gcc.gnu.org/bugzilla/buglist.cgi?
              query_format=advanced
              &bug_status=ASSIGNED
              &bug_status=NEW
              &bug_status=REOPENED
              &bug_status=SUSPENDED
              &bug_status=UNCONFIRMED
              &bug_status=WAITING
              &short_desc_type=allwordssubstr
            ".split(/\n/).map(&:strip).join('')

            unless priority == :all
              url += "&priority=P1&priority=P2&priority=P3"
            end

            milestones.sort!

            milestones.each do |milestone|
              url += "&target_milestone=#{milestone}"
            end

            url += "&short_desc=" + milestones.last.split(/\./).take(2).join('.')
          end

        %h2 Current Releases
        .status
          %h3 Stable
          Regression fixes &amp; docs updates only

          %h4.version=link_to "GCC 4.9.0", "gcc-4.9/"
          %span.changes>
            (
            =link_to "changes", "gcc-4.9/changes.html"
            )
          Status:
          =link_to "2014-04-22", "https://gcc.gnu.org/ml/gcc/2014-04/msg00196.html"
          (regression fixes and docs only).

          %br/
          %span.regress
            - versions = %w{ 4.8.4 4.9.1 }
            =link_to "Serious regressions", bugzilla_regressions(versions)
            =link_to "All regressions",     bugzilla_regressions(versions, :all)

          %h4.version
            %a{:href => "gcc-4.8/"} GCC 4.8.3
          (
          %a{:href => "gcc-4.8/changes.html"}> changes
          )
          Status:
          %a{:href => "https://gcc.gnu.org/ml/gcc/2014-05/msg00263.html"} 2014-05-22
          (regression fixes and docs only).

          %br/
          %span.regress
            - versions = %w{ 4.8.4 }
            =link_to "Serious regressions", bugzilla_regressions(versions)
            =link_to "All regressions",     bugzilla_regressions(versions, :all)

          %h3 Development
          Not ready for production use

          %h4.version GCC 4.10.0 (
          %a{:href => "gcc-4.9/criteria.html"}> release criteria
          )
          Status:
          / GCC 4.10 status below
          %a{:href => "https://gcc.gnu.org/ml/gcc/2014-04/msg00090.html"} 2014-04-11
          / GCC 4.10 status above
          (general development, stage 1).
          %br/
          %span.regress
            - versions = %w{ 4.8.4 4.9.1 4.10.0 }
            =link_to "Serious regressions", bugzilla_regressions(versions)
            =link_to "All regressions",     bugzilla_regressions(versions, :all)

        %h2 Search our site
        =partial "searchbox"

        %h2 Get our announcements
        %form{:action => "https://gcc.gnu.org/cgi-bin/ml-request", :method => "get"}
          %input{:name => "digest", :type => "hidden", :value => "off"}/
          %input{:name => "operation", :type => "hidden", :value => "subscribe"}/
          %input{:name => "listname", :type => "hidden", :value => "gcc-announce"}/
          %input{:name => "username", :size => "20", :type => "text", :placeholder => "your e-mail address"}/
          %input{:name => "submit", :type => "submit", :value => "Subscribe"}/

  -#.row

    %section.blog-posts

      %section.container

        %h2
          = data.site.name
          News

        = partial :blog_posts, locals: locals
