-# This is a proxy page that wraps the original content in versions with the template
-# (The magic for this happens in config.rb)

:ruby
  # Grab original HTML
  doc = Nokogiri::HTML(open("#{root}/source/versions/#{page_version}/#{page_file}"))

  # Rewrite <br> inside of <h1> to a colon ":"
  br = doc.css('h1 br')

  unless br.empty?
    br.after ': '
    br.remove
  end


.version-page{class: "version-page-#{page_file[/^[^\.]*/]}"}
  = doc.css('body')
